---
---


$primary-color: #ee9e86;
$text-color-dark: #222222;
$text-color-light: #ffffff;
$background-color: #ffffff;
$hover: #f9737a;
$box-shadow: 0 5px 15px 0 rgba(0,0,0,0.07), 0 15px 35px 0 rgba(50,50,93,0.10);
$box-shadow-hover: 0 45px 95px 0 rgba(0, 0, 0, 0.07), 0 15px 35px 0 rgba(50, 50, 93, 0.1);
$border-radius: 4px;


$ibm-plex-mono: 'IBM Plex Mono', monospace;
$ibm-plex-sans: 'IBM Plex Sans', sans-serif;
$ibm-plex-serif: 'IBM Plex Serif', serif;;
$pasifico: 'Pacifico', cursive;
$scope-one: 'Scope One', serif;
$base-font-size: 16px;


body {
    font-family: $ibm-plex-serif;
    color: $text-color-dark;
    -webkit-font-smoothing: antialiased;
    background-color: $background-color;
    font-size: $base-font-size;
    font-weight: 300;
}

.container {
    transition: all 0.5s ease;
}


.row-custom {
    -moz-column-width: 18em;
    -webkit-column-width: 18em;
    -moz-column-gap: 2em;
    -webkit-column-gap:2em; 
}

.btn-primary {
    background-color: $primary-color;
    border: none;
    min-height: 48px;
}

.btn-primary:hover {
    background-color: $text-color-dark;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: none;
}

.item {
    display: inline-block;
    padding:  .25rem;
    width:  100%; 
}

.navbar-brand {
    font-family: $ibm-plex-serif;
    font-size: 72px;
    color: $background-color;
    margin: 0;
    font-weight: 100;
}

.nav-link {
    font-size: 20px;
    padding: 0;
    width: 100px;
}

h1,h2,h3,h4,h5 {
    font-weight: 200;
}

h5 {
    font-size: 36px;
}

.primary-border {
    border: 16px solid $primary-color;
}

.box-shadow {
    box-shadow: $box-shadow;
}

.card {
    border: none;
    transition: all 0.5s ease;
}

.card:hover{
    // box-shadow: $box-shadow-hover;
    background-color: $primary-color;
}

a {
    color: $text-color-dark;
    transition: all 0.5s ease;
}

a:hover {
    color: $text-color-light;
    text-decoration: none;
}

body > header {
    background-color: $primary-color;
    border-radius: $border-radius $border-radius 0px 0px;
}

.newspaper {
    -webkit-columns: 3 300px;
    -moz-columns: 3 300px;
    columns: 3 300px;


    column-fill: balance;

    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
}

.work {
    break-inside: avoid;
    box-sizing: border-box;
    padding: 10px 0;
}



body > header {
    a {
        color: $text-color-light;
    }
    
    a:hover {
        color: $text-color-dark;
    }
    
    a.nav-link.active {
        color: $text-color-dark;
        background-color: papayawhip;
        border-radius: $border-radius
    }

    svg {
        fill: white;
    }

    .icons {
        display: inline-block;
        padding: .5rem 1rem;
        color: $text-color-light;
        opacity: 0.7;
    }
    
    .icon {
        width: 24px;
        height: 24px;
        
    }

}

article { 
    margin-top: -250px
}

article {
    
    h1 {
        color: $background-color;
        font-weight: 200;
        transition: all 0.5s ease;
    }

    iframe {
        border-radius: $border-radius;
    }

    .newspaper {

        -webkit-columns: 2 300px;
        -moz-columns: 2 300px;
        columns: 2 300px;


        -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
        -moz-column-gap: 40px; /* Firefox */
        column-gap: 40px;
    
    }

    .post-meta ul {
        display: inline-block;
    }
    .post-meta ul li {
        line-height: 32px;
        display: table;
        border-bottom: 1px solid $primary-color;
        padding-bottom: 3px;
        margin-bottom: 10px;
    }

    header img,
    .gallery li img {
        border-radius: $border-radius
    }

}


.post .border-top {
    border-top: 16px solid $primary-color !important;
}

.post-bg {
    background-color: $primary-color;
    height: 250px;
}

.post-bg:before {
    content: '⇣';
    text-align: center;
    display: block;
    margin-bottom: 32px;
    color: papayawhip;
}




// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }


@media (max-width: 1200px) {
    header h1 {
        font-size: 30px;
        transition: all 0.5s ease;
    }
}

