<form method="POST" action="https://formspree.io/ozguratmaca@gmail.com">

    <div class="form-group">

        <input type="email" name="email" class="form-control" placeholder="Your email" required>
        <input type="text" name="_gotcha" style="display:none" />

    </div>

    <div class="form-group">
        <textarea name="message" class="form-control" placeholder="Your message" rows="3" required></textarea>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary w-25">Send</button>
    </div>

</form>